<!DOCTYPE html>
<html>
<head>
    <title>Switch translate</title>
    <link media="all">
    <link rel="stylesheet" type="text/css" href="static/reset.min.css">
    <link rel="stylesheet" type="text/css" href="static/base.css">
</head>

<body>
    <header>
	<div class="header">
	    Забываете менять расскладу между русским и английским языками и наоборот</br> 
Просто скопируйте абракадабру и не надо перепечатывать
	</div>
    </header>
    <section class="content">
	<div class="column">
	    <h6>Введите сюда абракадабру</h6>
	    <form action='#'  method='post'>
		<div class="form_block">
		    <textarea id="input" name="text" placeholder="введите текст здесь"></textarea>
		</div>
		
		<div class="form_block">
		    <input id="button" type="button" value="Дай правильный текст">
		</div>
	    </form>
	</div>

	<div class="column">
	    <h6>Результат увидите здесь</h6>
	    <textarea id="result"></textarea>
	</div>
    </section>

<script src="static/jquery.js"></script>
<script src="static/script.js"></script>

</body>
</html>
